@{
    ViewData["Title"] = "Add Restaurants";
}

<h1>Add a restaurant</h1>

<form action="/restaurants" method="post">
    <label for="name">Enter Restaurant</label>
    <input name="name" type="text" placeholder="Restaurant" required>
    <label for="cuisineId">Choose a cuisine type</label>
    @if (Model.Count == 0)
    {

    <p>Enter a cuisine first!</p>
    <a href="/cuisines">Clicke here to add a cuisine</a>

    }
    else
    {
        <select name="cuisineId">

            @foreach(var cuisine in Model)
            {
                <option value="@cuisine.CuisinesId">@cuisine.CuisinesType</option>
            }

            
        </select>
        <button type="submit">Add Resturant</button>
    }

</form>


<a href="/"><button type="submit">Back</button></a>