@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to our restaurant reviewer!</h1>


<a href="/reviews"><button type="submit">Reviews</button></a>

<a href="/cuisines"><button type="submit">Cuisines</button></a>

<a href="/restaurants"><button type="submit">Restaurants</button></a>

<a href="/accounts/new"><button type="submit">Make an account</button></a>
