@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to our restaurant reviewer!</h1>

<form>
    <button type="submit">Reviews</button>
</form>

<form>
    <button type="submit">Restaurants</button>
</form>

<a href="/accounts/new"><button type="submit">Make an account</button></a>
